{% extends 'main/layout.html' %}

{% block title %}Main{% endblock %}

{% block content %}
    <div class="text">
        <h2>Урок 4. Домашнее задание</h2>
        <h2>«Проект»</h2>
        <p>На основе в excel-таблиц из предыдущего задания создать модели данных в проекте и с помощью view-функций оформить вывод их содержимого на html-страницу. Формат: 1 строка – 1 запись (атрибуты перечисляются через дефис).
            Для каждой модели подготовить отдельную view-функцию, прописав для неё индивидуальный маршрут в файле <b>urls.py.</b></p>
        <p><b><ins>В дополнение к домашнему заданию выполнить практическую работу!</ins></b></p>
        <p>Организовать репозиторий с этим кодом на github.</p>
        <p>В качестве результата домашнего отправить ссылку на github-репозиторий с проектом домашнего задания (папку venv на github отправлять не надо). </p>
    </div>
    <div class="form">
        <a href="{% url 'table_one' %}">Таблица 1</a>
        <a href="{% url 'table_two' %}">Таблица 2</a>
    </div>
{% endblock %}
